---
import { ISemifinal } from '@models/ILeaderboard'

interface Props {
  semifinal: ISemifinal[]
  emoji: string
}

const { semifinal, emoji } = Astro.props
---

<div class="relative overflow-x-auto shadow-md rounded-lg max-w-md">
  <table class="w-full text-xs md:text-left text-black bg-slate-200">
    <thead>
      <tr>
        <th
          class="px-4 py-2 font-medium tracking-wider md:text-left text-gray-500 uppercase bg-gray-100 border-b border-gray-200 text-center"
        >
          #
        </th>
        <th
          class="px-4 py-2 font-medium tracking-wider md:text-left text-gray-500 uppercase bg-gray-100 border-b border-gray-200 text-center"
        >
          Equipo
        </th>
        <th
          class="hidden md:table-cell px-4 py-2 font-medium tracking-wider md:text-left text-gray-500 uppercase bg-gray-100 border-b border-gray-200 text-center"
        >
          Victorias
        </th>
        <th
          title="Victorias"
          class="table-cell md:hidden px-4 py-2 font-medium tracking-wider md:text-left text-gray-500 uppercase bg-gray-100 border-b border-gray-200 text-center"
        >
          V
        </th>
        <th
          class="hidden md:table-cell px-4 py-2 font-medium tracking-wider md:text-left text-gray-500 uppercase bg-gray-100 border-b border-gray-200 text-center"
        >
          Derrotas
        </th>
        <th
          title="Derrotas"
          class="table-cell md:hidden px-4 py-2 font-medium tracking-wider md:text-left text-gray-500 uppercase bg-gray-100 border-b border-gray-200 text-center"
        >
          D
        </th>
        <th
          title="Porcentaje de victoria"
          class="px-4 py-2 font-medium tracking-wider md:text-left text-gray-500 uppercase bg-gray-100 border-b border-gray-200 text-center"
        >
          PCT
        </th>
      </tr>
    </thead>
    <tbody>
      {
        semifinal.map((rank, index) => (
          <tr class="odd:bg-white even:bg-slate-100 border-b text-base hover:bg-slate-300">
            <td class="px-4 py-2 text-sm font-medium text-gray-900">
              {index === 0 && emoji}
            </td>
            <td class="px-4 py-2 text-sm font-medium text-gray-900 ">
              <a class="flex gap-2" href={`/team/${rank.team.id}`}>
                <img
                  src={rank.team.image}
                  alt={`Logo de ${rank.team.name}`}
                  class="w-9 h-auto rounded-full"
                />{' '}
                <span>{rank.team.id.toUpperCase()}</span>
              </a>
            </td>
            <td class="px-4 py-2 text-sm font-medium text-gray-900 text-center md:text-left">
              {rank.wins}
            </td>
            <td class="px-4 py-2 text-sm font-medium text-gray-900 text-center md:text-left">
              {rank.losses}
            </td>
            <td class="px-4 py-2 text-sm font-medium text-gray-900 text-center md:text-left">
              {rank.ptc}
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
